/* body{
    text-align: center;
}
button {
    margin-bottom: 20px;
}
.div {
   margin: 0 auto;
    height: 100px;
    width: 500px;
    border: 1px solid black;
}
 */


/* events */

#scrollInfo {
    position: fixed;
        bottom: 10px;
        right: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        display: none;
}
